@page
@model SistemaDeReservas.Pages_Reservas.CreateModel

        @{
        ViewData["Title"] = "Create";
        }
        
        <h1>Create</h1>
        
    <h4>Reserva</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Reserva.Nombre" class="control-label"></label>
                <input asp-for="Reserva.Nombre" class="form-control" />
                <span asp-validation-for="Reserva.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reserva.Email" class="control-label"></label>
                <input asp-for="Reserva.Email" class="form-control" />
                <span asp-validation-for="Reserva.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reserva.Fecha" class="control-label"></label>
                <input asp-for="Reserva.Fecha" class="form-control" />
                <span asp-validation-for="Reserva.Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reserva.Hora" class="control-label"></label>
                <input asp-for="Reserva.Hora" class="form-control" />
                <span asp-validation-for="Reserva.Hora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reserva.Detalles" class="control-label"></label>
                <input asp-for="Reserva.Detalles" class="form-control" />
                <span asp-validation-for="Reserva.Detalles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
